h1{
    font-family:"Roboto Serif", serif;
    font-weight:500;
    font-size:35px;
    padding-left: 1rem;
    color:var(--psombre);
    min-width: 178px;
}

h2 {
    color: var(--psombre, #2c2c2c);
    text-align: center;
    font-family:"Roboto Serif", serif;
    font-size: 32px;
    font-weight: 600;
    position:relative;
  
}

h3{
    font-family:"Roboto Serif", serif;
    font-weight:500;
    font-size:20px;
    color:var(--psombre);
    min-width: 119px;
}

.txtboutons{
    font-family:"Roboto";
    font-weight:500;
    font-size:20px;
    color:var(--psombre);
    
}